{
  "openapi": "3.1.0",
  "info": {
    "title": "Happy Wakey API",
    "version": "0.1.0",
    "description": "Contract-first alarm, occurrence, state, briefing, planning, health, communications, market and synchronization API. All /v1 routes require a Shared Auth bearer token and derive the owner from that identity; no route accepts a client supplied owner. Read routes are owner-scoped and return the same contracts the sync and service-operation lanes return."
  },
  "servers": [
    {
      "url": "https://api.happy-wakey.dev"
    }
  ],
  "security": [
    {
      "sharedAuth": []
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "security": [],
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "const": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/alarms": {
      "get": {
        "operationId": "listAlarms",
        "responses": {
          "200": {
            "description": "Owner alarms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "../schemas/alarm.schema.json#/$defs/alarm"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createAlarm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../schemas/alarm.schema.json#/$defs/create_alarm"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created idempotently",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/alarm.schema.json#/$defs/alarm"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/occurrences/{occurrence_id}/transitions": {
      "post": {
        "operationId": "transitionOccurrence",
        "parameters": [
          {
            "name": "occurrence_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "../schemas/common.schema.json#/$defs/uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../schemas/alarm-occurrence.schema.json#/$defs/transition_request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Applied, stale, or rejected transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/alarm-occurrence.schema.json#/$defs/transition_response"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/sync/pull": {
      "get": {
        "operationId": "pullChanges",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "../schemas/common.schema.json#/$defs/cursor",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered changes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/sync-envelope.schema.json"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/sync/push": {
      "post": {
        "operationId": "pushChanges",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 500,
                "items": {
                  "$ref": "../schemas/sync-envelope.schema.json#/$defs/change"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted changes and authoritative cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/sync-envelope.schema.json"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/providers": {
      "get": {
        "operationId": "listProviderConnections",
        "description": "Every provider the owner has connected, with the capabilities actually granted and the status of each. A client renders availability from this list rather than probing.",
        "responses": {
          "200": {
            "description": "Owner provider connections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 100,
                  "items": {
                    "$ref": "../schemas/provider-connection.schema.json#/$defs/provider_connection"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "connectProvider",
        "description": "Registers a connection intent idempotently. The consent exchange happens out of band; no credential is ever carried in this body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../schemas/provider-connection.schema.json#/$defs/connect_provider"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered, pending consent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/provider-connection.schema.json#/$defs/provider_connection"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/providers/{provider_connection_id}": {
      "delete": {
        "operationId": "disconnectProvider",
        "description": "Revokes the connection and schedules erasure of everything derived solely from it.",
        "parameters": [
          {
            "name": "provider_connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "../schemas/common.schema.json#/$defs/uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Disconnected"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/briefings/{day}": {
      "get": {
        "operationId": "getBriefing",
        "description": "The composed brief for one civil day. Sections that could not be built are returned in a non-ready state with a reason; they are never omitted.",
        "parameters": [
          {
            "name": "day",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "../schemas/sleep-summary.schema.json#/$defs/civil_date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Composed briefing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/briefing.schema.json#/$defs/briefing"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/day-plans/{day}": {
      "get": {
        "operationId": "getDayPlan",
        "parameters": [
          {
            "name": "day",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "../schemas/sleep-summary.schema.json#/$defs/civil_date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Day plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/day-plan.schema.json#/$defs/day_plan"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/health/sleep/{day}": {
      "get": {
        "operationId": "getSleepSummary",
        "description": "The night attributed to this civil date. Returns 404 rather than a zeroed record when no source measured that night.",
        "parameters": [
          {
            "name": "day",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "../schemas/sleep-summary.schema.json#/$defs/civil_date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sleep summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/sleep-summary.schema.json#/$defs/sleep_summary"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/health/biometrics/{day}": {
      "get": {
        "operationId": "getBiometricSummary",
        "parameters": [
          {
            "name": "day",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "../schemas/sleep-summary.schema.json#/$defs/civil_date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Biometric summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/biometric-summary.schema.json#/$defs/biometric_summary"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/inbox/digest": {
      "get": {
        "operationId": "getInboxDigest",
        "description": "Metadata-only by default. Each account states the content class it was actually authorized to read.",
        "parameters": [
          {
            "name": "window_hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 168,
              "default": 14
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox digest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/inbox-digest.schema.json#/$defs/inbox_digest"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/messages/digest": {
      "get": {
        "operationId": "getMessageDigest",
        "description": "Platforms that cannot be read by a third party are returned with their access level and a note, not silently dropped.",
        "parameters": [
          {
            "name": "window_hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 168,
              "default": 14
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message digest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/message-digest.schema.json#/$defs/message_digest"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/markets/watch": {
      "get": {
        "operationId": "getMarketWatch",
        "responses": {
          "200": {
            "description": "Market watch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/market-watch.schema.json#/$defs/market_watch"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/environment": {
      "get": {
        "operationId": "getEnvironmentBrief",
        "responses": {
          "200": {
            "description": "Environment brief",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/environment-brief.schema.json#/$defs/environment_brief"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/habits": {
      "get": {
        "operationId": "listHabits",
        "responses": {
          "200": {
            "description": "Owner habits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 500,
                  "items": {
                    "$ref": "../schemas/habit.schema.json#/$defs/habit"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createHabit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../schemas/habit.schema.json#/$defs/create_habit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created idempotently",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/habit.schema.json#/$defs/habit"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/habits/{habit_id}/entries": {
      "post": {
        "operationId": "recordHabitEntry",
        "description": "Records one day's outcome under the same generation fencing as an alarm occurrence: a stale caller stutters instead of overwriting a newer state.",
        "parameters": [
          {
            "name": "habit_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "../schemas/common.schema.json#/$defs/uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../schemas/habit.schema.json#/$defs/record_habit_entry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recorded entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/habit.schema.json#/$defs/habit_entry"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/layout": {
      "get": {
        "operationId": "getModuleLayout",
        "responses": {
          "200": {
            "description": "Module layout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/module-layout.schema.json#/$defs/module_layout"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "putModuleLayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../schemas/module-layout.schema.json#/$defs/module_layout"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored layout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/module-layout.schema.json#/$defs/module_layout"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sharedAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "Error": {
        "description": "Controlled error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "../schemas/error.schema.json"
            }
          }
        }
      }
    }
  }
}
